@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.navbar { 
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  /* justify-content: space-between; */
  border: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1536d;
}

.navbar .links {
 margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #f1536d;
}

.content {
   max-width: 600px;
   margin: 40px auto;
   padding: 20px;
}

/* Blog Preview */
.blog_preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog_preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) ;
}
.blog_preview h2 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #f1536d;
}

.blog_preview a{
  text-decoration: none;
}

.blog_detail h2 {
  margin-bottom: 10px;
  color: #f1536d;
  font-size: 20px;
}

.blog_detail div {
  margin: 20px 0;
  text-align: justify;
}

.blog_detail button {
  border: none;
  border-radius: 8px ;
  padding: 8px;
  background: #f1536d;
  color: #fff;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2{
  text-align: center;
  color: #f1536d;
  margin-bottom: 20px;
}
.create input, .create textarea, .create select {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  margin: 1px solid #ddd;
  box-sizing: border-box;
}
.create button {
  border-radius: 8px;
  padding: 8px;
  border: 0;
  background: #f1536d;
  color: #fff;
  cursor: pointer;
}